#languageSelectNode {
    padding: 5px;
}

#languageSelectNode label {
    font-size: 14px;
    margin-right: 2px;
    margin-bottom: 0;
}

@media only screen and (min-width: 720px) {
    #languageSelectNode {
        padding: 9px;
    }

    #languageSelectNode label {
        font-size: 18px;
        margin-right: 4px;
    }
}

.claro #languageSelectNode .dijitDropDownButton {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

#languageSelectNode .dijitArrowButtonInner {
  display:none;
}

.claro #languageSelectNode .dijitButtonText{
    vertical-align: middle;
    padding: 3px 0px;
    margin: 0;
}

.langMenuItemIcon {
   height:20px; 
   vertical-align: middle;
}

.langIcon {
    height:20px; 
    vertical-align: middle;
}

@media only screen and (min-width: 720px) {
    .langIcon {
        height:22px; 
    }
}

#languageSelectNode  {
    position: absolute;
    right: 0;
    top: 1px;
    display: inline-block;
}

.claro #languageSelectNode .dijitDropDownButton .dijitButtonNode {
    background-color: transparent;
}

.claro #languageSelectNode .dijitArrowButtonInner {
    display:none;
}

.claro #languageSelectNode .dijitDropDownButton .dijitButtonNode {
    border: none;
    box-sizing: none; 
    border-width: 0; 
    border-style: none; 
    border-color: transparent; 
}

