.ImageToggleButton {
	display: inline-block;
	line-height: 10px;
}

.ImageToggleButton img {
    width: 23px;
    height: 23px; 
    margin: 0px 1px;
    padding: 3px;
}

.ImageToggleButton label.cbToggleBtn {
	display:inherit;
	margin: 1px 1px 0 1px;
}

.ImageToggleButton .cbToggleBtn {
    display:none;
}

.ImageToggleButton input[type="checkbox"].cbToggleBtn + label.cbToggleBtn img.UnselectedToggleImg,
.ImageToggleButton input[type="checkbox"].cbToggleBtn:checked + label.cbToggleBtn img.SelectedToggleImg
{
    display: initial;
}

.ImageToggleButton input[type="checkbox"].cbToggleBtn:checked + label.cbToggleBtn img.UnselectedToggleImg,
.ImageToggleButton input[type="checkbox"].cbToggleBtn + label.cbToggleBtn img.SelectedToggleImg
{
    display: none;
}
