.myBorderContainer {
  width: 100% !important;
  height: 100% !important; 
  overflow: hidden;
  padding:0px;
}

#mapPlace {
    top: 32px;
    width: 100% !important;
    left: 0;
    position: absolute;
}

@media only screen and (min-width: 720px) {
    #mapPlace {
        height: calc(100% - 44px) !important;
        top: 44px;
    }
}

#mapDiv {
    height:100% !important;
    width:100% !important;
}

.esri-feature-table .dgrid-row-even {
    background-color: #dadada;
}

.esri-feature-table .dgrid-row-odd {
    background-color: white;
}

.esri-feature-table .esri-feature-table-menu {
    background-color: #AFAFAF;
    color: black;
}

.esri-feature-table .dgrid-header .dgrid-cell {
    border-right: 1px solid #AFAFAF;
    color: #000000;
    /*font-size: 14px;*/
}

.esri-feature-table {
    font-family: arial;
    font-size: 14px;
    font-stretch: condensed;
}

.esri-feature-table .dgrid-header .dgrid-cell {
    font-weight: bold;
}

.esri-feature-table .esri-feature-table-menu .dijitDropDownButton .dijitButtonNode {
    color: black !important;
}

.esri-feature-table .esri-feature-table-menu .dijitDropDownButton .dijitButtonNode:hover {
    color: white !important;
}

.esri-feature-table .ui-state-active {
    background-color: #B4DAF5;
}